<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- siteInfo.title %></title>
  </head>
  <body>

    <header>
      <h1 class="glass-card"> <%- siteInfo.title %>  </h1>
    </header>

    <main>
      <% siteInfo.groups.forEach(({groupName, sites}) => { %>

        <h2 class="glass-card"> <%- groupName %> </h2>
        <div class="site-list">
          <% sites.forEach(({name, url, description}) => { %>
            <div class="site-card glass-card" onclick="window.open('<%= url %>')">
              <a href="<%= url %>"> <%- name %>  </a>
              <p><%- description %> </p>
            </div>
          <% }) %>
        </div>

      <% }) %>
    </main>

    <footer class="glass-card">
      <p>Copyright 2023. All rights reserved.</p>
    </footer>

  </body>
</html>
