<!DOCTYPE html>
<html lang="zh">

  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./media/img/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- siteInfo.title %></title>
    <link rel="stylesheet" href="./src/style.css" />
  </head>

  <body class="disable-select">
    <header>

        <h1 class="glass-card title"> <img src="./media/img/logo.svg" class="inline-icon"/> <%- siteInfo.title %>  </h1>


        <% if(siteInfo.nav) { // 导航 %>
        <nav class="center-container">
          <div class="glass-card">
            <% for(const nav of siteInfo.nav) { %>
              <a href="<%- nav.url %>"><%- nav.name %></a>
            <% } %>
          </div>
        </nav>
        <% } %>


        <% if(siteInfo.notice) { // 公告或副标题 %>
        <aside class="center-container">
          <div class="glass-card">
            <%- siteInfo.notice %>
          </div>
        </aside>
        <% } %>

    </header>


    <main class="center-container glass-card-large">
      <% siteInfo.groups.forEach(({name, sites}) => { // 分组 %>

        <h2 class="group-title"> <%- name %> </h2>
        <div class="site-list">
          <% sites.forEach(({name, url, description}) => { // 网站 %>
            <div class="site-card" onclick="window.open('<%= url %>')">
              <h3 class="margin-0"><a href="<%= url %>"> <%- name %>  </a></h3>
              <p><%- description || "暂时还没有描述哦" %> </p>
            </div>
          <% }) %>
        </div>

      <% }) %>
    </main>


    <footer class="center-container">
      <p class="glass-card"><%- siteInfo.footer %></p>
    </footer>
    

    <% if(particles.enabled){ // 粒子系统 %>
    <div id="particle-container">      
      <% for(i=0;i<30;i++) { %>
        <div class="particle"></div>
      <% } %>
    </div>
    <link href="././src/particle.scss" rel="stylesheet" />
    <% } %>

  </body>
  
</html>
