body {
  background-image: url("./background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: "Microsoft YaHei UI", sans-serif;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header > h1 > img {
  width: 1em;
  display: inline-block;
  vertical-align: middle;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.group {

}

.group h2 {
  text-decoration: underline;
}

.site-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 23em);
  justify-items: center;
  justify-content: center;
}

.site-card {
  padding: 1em;
  margin: .5em;
  width: 20em;
  height: 6em;
}

.site-card > a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  color: black;
}

.site-card:hover {
  box-shadow: 5px 5px 5px gray;
}

.glass-card {
  border-radius: 16px;
  padding: .5em;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}