/* --------Global--------- */

:root {
  --primary-color: #57C3C2;
  --secondary-color: #99CCCB;
  --font-color: black;
  --background-color: white;
  --glass-plate-bg-color: #ffffffbf
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #57C3C2;
    --secondary-color: #99CCCB;
    --font-color: white;
    --background-color: #202124;
    --glass-plate-bg-color: #0000004f
  }
}

@font-face {
  font-family: "LXGW Marker Gothic";
  src: url("../media/font/LXGWMarkerGothic.woff2");
}

/* --------Element CSS--------- */

body {
  background-color: var(--primary-color);
  background-image: url("../media/img/background.webp");
  /*background-image: url("https://api.ghser.com/random/bg.php");*/
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom left;
  position: relative;
  color: var(--font-color);
  font-family: "LXGW Marker Gothic","Microsoft YaHei UI", sans-serif;
}

a {
  color: var(--font-color);
  text-decoration: none;
  padding: .2em .2em .1em .1em; /* 这个padding是为了暂时修正盒模型不平均的问题，应该有其他更好的方法修正 */

  transition: all .2s ease-in;
  background: linear-gradient(to bottom,transparent 45%, var(--primary-color) 0) no-repeat;
  background-size: 100% 200%;
}

a:hover {
  background-position: 0 100%;  
  color: var(--background-color);
}


header {
  border-radius: 0 0 9px 9px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .2em 1em;
}

header > * {
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1vh 1vw;
  padding: 1.8em;
}

footer {
  width: fit-content;
  margin: auto;
}

.site-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 22em);
  justify-items: center;
  justify-content: center;
}

/* --------Atom CSS--------- */

.margin-0 {
  margin: 0;
}

.inline-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.1em;
}

.center-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.disable-select {
  user-select: none;
}

.glass-plate {
  border-radius: 16px;
  padding: .6em;
  backdrop-filter: blur(10px) saturate(150%);
  background-color: var(--glass-plate-bg-color);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.site-card {
  padding: 1em;
  margin: .5em;
  width: 18em;
  height: 6em;
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-family: "LXGW Marker Gothic";
}

.site-card:hover {
  transform: rotate(1deg);
  box-shadow: 5px 5px 5px gray;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),0 4px 6px -2px rgba(0, 0, 0, 0.15);
}