/* --------Global--------- */

:root {
  --primary-color: #57C3C2;
  --secondary-color: #99CCCB;
  --font-color: black;
  --background-color: white;
  --glass-plate-bg-color: #ffffffbf
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #57C3C2;
    --secondary-color: #99CCCB;
    --font-color: white;
    --background-color: #202124;
    --glass-plate-bg-color: #0000004f
  }
}

@font-face {
  font-family: "Default";
  src: url("../asset/font/Default.woff2");
}

/* --------Element CSS--------- */

body {
  background-color: var(--primary-color);
  background-image: url("../asset/img/background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom left;
  font-family: "Default", sans-serif;
  color: var(--font-color);
  position: relative;
}

.link,
a {
  color: var(--font-color);
  text-decoration: none;
  padding: .2em;
  
  transition: all .2s ease-in;
  background: linear-gradient(to bottom,transparent 45%, var(--primary-color) 0) no-repeat;
  background-size: 100% 200%;
  background-position: 0 0;  
}

.link:hover,
a:hover {
  background-position: 0 100%;  
  color: var(--background-color);
}


header,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: end;
  padding: .2em 1em;
}

footer {
  justify-content: center;
  align-items: start;
}

header > *,
footer > * {
  margin-bottom: 1vh;
  margin-right: 1vw;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1vh 1vw;
  padding: 1.8em;
}

.site-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 22em);
  justify-items: center;
  justify-content: center;
}

p {
  margin: .5em 0;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}


/* --------Atom CSS--------- */

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.inline-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.1em;
}

.disable-select {
  user-select: none;
}

.center-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.glass-plate {
  border-radius: .3em;
  padding: .6em;
  backdrop-filter: blur(8px) saturate(150%);
  background-color: var(--glass-plate-bg-color);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.site-card {
  padding: 1em;
  margin: .5em;
  width: 18em;
  height: 6em;
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-family: "Default";
}

.site-card:hover {
  transform: rotate(1deg);
  box-shadow: 5px 5px 5px gray;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),0 4px 6px -2px rgba(0, 0, 0, 0.15);
}

.site-card :nth-child(1) {
  margin-top: 0;
}

.no-style,
.no-style:hover {
  all: unset;
}